:root {
    --md-primary-fg-color: #004682;
    --md-default-bg-color: red;
    --md-text-font: "SFPro";
}

/* Regular weight */
@font-face {
    font-family: 'SFPro';
    src: url('./fonts/SF-Pro.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

/* Medium weight */
@font-face {
    font-family: 'SFPro';
    src: url('./fonts/SF-Pro-Medium.ttf') format('ttf');
    font-weight: 500;
    /* Use the appropriate numeric value for the medium weight */
    font-style: normal;
}

/* Semibold weight */
@font-face {
    font-family: 'SFPro';
    src: url('./fonts/SF-Pro-SemiBold.ttf') format('ttf');
    font-weight: 600;
    /* Use the appropriate numeric value for the semibold weight */
    font-style: normal;
}

/* Bold weight */
@font-face {
    font-family: 'SFPro';
    src: url('./fonts/SF-Pro-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

/* Heavy weight */
@font-face {
    font-family: 'SFPro';
    src: url('./fonts/SF-Pro-Heavy.ttf') format('ttf');
    font-weight: 900;
    /* Use the appropriate numeric value for the heavy weight */
    font-style: normal;
}